header {
  width: 100%;
  font-size: 1.5em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #db9248;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  margin-bottom: 1em;
}
header div {
  margin-bottom: 0.5em;
}

#profile {
  padding-top: 120px;
}

/* Tablet Styles */
@media only screen and (min-width: 1024px) {
  .body-header {
    justify-content: space-between;
    flex-shrink: 2;
    margin-left: 1.5em;
    top: 120px;
    position: relative;
    margin-top: 2.5em;
    height: 10em;
    margin-right: 1em;
  }

  #profile {
    padding-top: 0.5em;
  }
  header div {
  }
}
