header {
  width: 100%;
  font-size: 1.5em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #db9248;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  margin-bottom: 1em;
}
header div {
  margin-bottom: 0.5em;
}

header img {
  padding-top: 120px;
}
