nav {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  /* overflow: hidden; */
}
nav span {
  font-family: "Bungee", sans-serif;
  font-size: 1.5em;
  padding: 0 1.5em;
}
nav div {
  font-size: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .new-tweet-label {
  font-family: "Source Sans Pro", sans-serif;
}
nav .new-icon {
  color: red;
  /* 
  Reference: https://css-tricks.com/making-css-animations-feel-natural/
  */
  animation-name: new-icon-bounce;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
@keyframes new-icon-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.hover-cursor {
  cursor: pointer;
}
