.new-tweet label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.new-tweet textarea {
  border: none;
  background: none;
  border-bottom: solid;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

.new-tweet button {
  background-color: #4056a1;
  color: white;
  border: none;
}

.new-tweet button,
output {
  font-family: "Bungee", sans-serif;
  font-size: 0.7em;
  padding: 0.2em 0.5em;
}

.tweet-button {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
}
