/* ARTICLE TWEET */
/* ------------------------------------- */
.tweet {
  /* margin: top right bottom left */
  margin: 50px 0 20px 0;
  border: solid;
  padding: 1em;
}

.tweet:hover {
  box-shadow: 7px 7px 2px #b2bfe7;
}
/* ------------------------------------- */
/* TWEET HEADER */
.tweet header {
  margin-bottom: 0;
  background-color: #f4f1ec;
  height: fit-content;
  color: initial;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

.tweet header {
  display: flex;
  justify-content: space-between;
}

.tweet header img {
  padding-right: 15px;
}

.image-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.lastname {
  color: #ccc;
  font-weight: bold;
}
/* END HEADER */

/* ------------------------------------- */
/* TWEET MAIN */
.tweet main {
  font-weight: bold;
  padding: 2em 1em 1.5em 0.5em;
  display: flex;
  flex-grow: 2;
}
/* END MAIN */

/* ------------------------------------- */
/* TWEET FOOTER */
.tweet footer {
  padding: 1em 1em;
  font-size: 0.6em;
  border: none;
  border-top: solid;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.tweet footer .icons {
  color: #4056a1;
}

.tweet footer span {
  padding: 0 0.5em;
}

.flag-icon:hover,
.retweet-icon:hover,
.love-icon:hover {
  color: #d1a30a;
}
/* END FOOTER */
